<footer>
	<div class="primary-footer-container">
		
		<div  class="flex col lg-50 sm-100">
			<h4 class="footer-header">On The Prophet</h4>
			<p class="footer-text">
			 Originally published in 1923, The Prophet is a book of 26 prose poetry essays written by the Lebanese artist, philosopher and writer Kahlil Gibran. <span class="hide-sm">It is Gibran's best known work. The Prophet has been translated into over 40 different languages and has never been out of print. </span></p>
		</div>

		<div class="flex col lg-50 sm-100 lg-end sm-start" style="padding-top: 24px;">
			<a href="https://en.wikipedia.org/wiki/Kahlil_Gibran">Khalil Gibran (wiki)</a>

			<a href="https://en.wikipedia.org/wiki/The_Prophet_(book)">The Prophet (wiki)</a>

			<a href="https://www.goodreads.com/ebooks/download/2547?doc=3702">The Prophet (download)</a>

			<a href="http://www.gibransprophetmovie.com/">The Prophet Animated Movie</a>
			
		</div>

	</div>

	<div class="secondary-footer-container flex col space-around center" style="">

			
			<span class="footer-text ">&copy Public Domain</span>
			<a class="hide-sm" href="http://www.benjaminspeir.com" style="margin:0; text-decoration:none;">Developed by Ben Speir</a>

	</div>

</footer>