<footer>
	<div class="row space-between" style="
		background-color: #282828;
		flex-wrap: wrap;
		padding: 32px 64px;">
		
		<div  class="col lg-50 sm-100">
			<h4 class="footer-header">On The Prophet</h4>
			<p class="footer-text">
			The Prophet is a book of 26 prose poetry essays written in English by the Lebanese artist, philosopher and writer Kahlil Gibran. It was originally published in 1923 by Alfred A. Knopf, and is Gibran's best known work. The Prophet has been translated into over 40 different languages and has never been out of print</p>
		</div>

		<div class="col lg-50 sm-100 lg-end sm-start" style="padding-top: 24px;">
			<a href="https://en.wikipedia.org/wiki/Kahlil_Gibran">Khalil Gibran (wiki)</a>

			<a href="https://en.wikipedia.org/wiki/The_Prophet_(book)">The Prophet (wiki)</a>

			<a href="https://www.goodreads.com/ebooks/download/2547?doc=3702">The Prophet (download)</a>

			<a href="http://www.gibransprophetmovie.com/">The Prophet Animated Movie</a>
			
		</div>

	</div>

	<div style="padding: 0 64px; background-color: #212121; height: 10vh; display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
		<div style="
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-content: space-between;">
			
			<span class="footer-text hide-sm">&copy Public Domain</span>
			<a href="http://www.benjaminspeir.com" style="margin:0;">Developed with Love</a>
		</div>
	</div>

</footer>