<button id="activateNav">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</button>  

<nav>
    <ol>
        <li><a href="/prologue">The Coming of the Ship</a></li>
        <li><a href="/love">Love</a></li>
        <li><a href="/marriage">Marriage</a></li>
        <li><a href="/children">Children</a></li>
        <li><a href="/giving">Giving</a></li>
        <li><a href="/eating-and-drinking">Eating and Drinking</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/joy-and-sorrow">Joy and Sorrow</a></li>
        <li><a href="/houses">Houses</a></li>
        <li><a href="/clothes">Clothes</a></li>
        <li><a href="/buying-and-selling">Buying and Selling</a></li>
        <li><a href="/crime-and-punishment">Crime and Punishment</a></li>
        <li><a href="/laws">Laws</a></li>
        <li><a href="/freedom">Freedom</a></li>
        <li><a href="/reason-and-passion">Reason and Passion</a></li>
        <li><a href="/pain">Pain</a></li>
        <li><a href="/self-knowledge">Self-Knowledge</a></li>
        <li><a href="/teaching">Teaching</a></li>
        <li><a href="/friendship">Friendship</a></li>
        <li><a href="/talking">Talking</a></li>
        <li><a href="/time">Time</a></li>
        <li><a href="/good-and-evil">Good and Evil</a></li>
        <li><a href="/prayer">Prayer</a></li>
        <li><a href="/pleasure">Pleasure</a></li>
        <li><a href="/beauty">Beauty</a></li>
        <li><a href="/religion">Religion</a></li>
        <li><a href="/death">Death</a></li>
        <li><a href="/farewell">The Farewell</a></li>
    </ol>
</nav> 