 <div class="title-section">
    <div class="title-text-container">
        <h1 class="title">The<br>Prophet</h1>
        <span class="subtitle">By Kahlil Gibran</span>
    </div>
</div>

{{> chapter}}
