html{
    width:100%; 
}
body{
    width:100%;
    background-color: #f7f7f7;
    color:#212121;
    margin:0;
}

/*UTILS*/
.center{
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;

}

.flex{
	    display: -webkit-flex;
    display:flex;
}
.col{
    -webkit-flex-direction: column;
    flex-direction: column;
}
.row{
    -webkit-flex-direction: row;
    flex-direction: row;
}
.space-between{
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.lg-end{
    -webkit-align-items: flex-end;
    align-items: flex-end;
}



.lg-50{
    -webkit-flex: 1 0 50%;
    flex: 1 0 50%;
}

.flex-space{
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}


/*TITLE*/
.title-section{
	height: 100%;
    width:100%;

	position: absolute;
    top:0;
    left:0;

    padding: 0 36px;

    background-color: #212121;
    color:#fff;

    -webkit-align-items: center;
    align-items: center;
}
.title{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 3.5rem;
}
.subtitle{
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
}
/*CHAPTER*/
.chapter-section{
	position: relative;
	top:0;
	left:0;
	height: 100%;
	width:100%;
}
.background-pattern{
    background-image: url('../img/arabic-pattern2.jpg'); 
    background-repeat: repeat;
}

.chapter-section-header{
    background-color: rgba(13, 13, 13, 0.95);
    color:#fff;

    position: relative;
    top:0;
    left:0;

    width: 100%;
    heigh: 100%;

    -webkit-align-items:center;
    align-items:center;

    -webkit-align-content:center;
    align-content:center;

    -webkit-justify-content:center;
    justify-content:center;
}
.chapter-content{
	position: rel
}
/*NAV*/
.no-scroll{
    overflow:hidden !important; 
}
button#activateNav{
    outline: none;
    position: fixed; 
    top:12px;
    left:12px;
    z-index:1000; 
    background: none; 
    border:none;
    cursor: pointer;
}

span.bar{
    display: block; 
    width: 26px;
    height: 2px;
    margin:5px 0;
    
    border-radius: 1px; 
    border-bottom: 2px #222 solid; 
}
button.clicked > span.bar{
    border-bottom: 2px #fff solid;
}
/*
button.clicked > span.bar:first-child{
    transform: rotate(45deg);  
    margin:0;
    border-bottom: 2px #fff solid; 
}
button.clicked > span.bar:nth-child(2){
    display: none;
}
button.clicked > span.bar:last-child{
    transform: rotate(-45deg);
    margin:0;

    border-bottom: 2px #fff solid; 
}*/

 nav{
    display: none;

    -webkit-flex-direction: column;
    flex-direction:column;

    -webkit-align-items:center;
    align-items: center;


    -webkit-justify-content:center;
    justify-content:center;


    position:fixed; 
    top:0;
    left:0;
    height:100%; 
    width:100vw; 

    z-index:100; 
    overflow-y: auto;

    background-color:#212121;
    opacity: 0;

    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;

 }
 nav.active{
    display: -webkit-flex;
    display: flex;


     opacity: 0.975;
 }
 nav > ol {
    height:80%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
 }
 nav > ol > li {
    margin:24px 0;
 }
  nav > ol > li:last-child {
    margin:24px 0 56px 0;
 }
 li > a {
    text-decoration: none;
    font-size:1.0rem;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color:#ccc;
 }
 li > a:visited {
    
    color:#999;
 }
  li > a:hover {
   color:#eee;
 }


/*BOTTOM BUTTONS*/
@-webkit-keyframes shadow { 
    0% { box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); } 
    50% { box-shadow: 0 6px 15px 0 rgba(0,0,0,0.16),0 6px 20px 0 rgba(0,0,0,0.12); } 
    100% { box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); }
}
@-moz-keyframes shadow {
     0% { box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); } 
    50% { box-shadow: 0 6px 15px 0 rgba(0,0,0,0.16),0 6px 20px 0 rgba(0,0,0,0.12); } 
    100% { box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); }
}
@keyframes shadow { 
    0% { box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); } 
    50% { box-shadow: 0 6px 15px 0 rgba(0,0,0,0.16),0 6px 20px 0 rgba(0,0,0,0.12); } 
    100% { box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); }
}
.btn{
    font-family: 'Lato', sans-serif;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 1rem;
    margin:8px 0;
    text-transform: uppercase;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #fff;
    background-color: #616161;
    text-align: center;


}
a.btn:active{
     -webkit-animation: shadow .75s 1; /* Safari 4+ */
  -moz-animation: shadow .75s 1; /* Fx 5+ */
  -o-animation: shadow .75s 1; /* Opera 12+ */
  animation: shadow .75s 1; 
}
.left{
    -webkit-align-self:flex-start;
    align-self: flex-start;
    float:left;
}
.left{
    -webkit-align-self:flex-end;
    align-self: flex-end;
    float:right;
}
.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
i{
    display: -webkit-flex;
    display: flex;

    vertical-align: middle;
}
.btn.left > i {
    margin-right: 8px;
}
.btn.right > i {
    margin-left: 8px;
}

/*FOOTER*/
footer{
    color:#b1b1b1;

    font-family: 'Lato', sans-serif;
    position: relative;
    z-index: 10;
}
footer a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin:8px 0;
    color:#ccc;
}
footer a:visited{
    color:#999;
}
footer a:hover{
    color:#eee;
}
.footer-text{

    color:#b1b1b1;
    padding: 0; 
    margin: 0; 
    font-size: 1rem;
    line-height: inherit;
    line-height: 1.5;
    font-weight: normal;
    word-spacing: normal;
}
.footer-header{
    margin: 16px 0;
    color:#b1b1b1;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}